{% extends "base.html" %}

{% block title %}
Tracks info
{% endblock %}

{% block body %}
<div class="container">
    <h4 style="margin-bottom: 30px" class="border-bottom">Length of all tracks: {{ total_hours }}</h4>
    <h4>All info:</h4>
    <table class="table table-striped">
        <tr>
            <th>Track Id</th>
            <th>Track Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Playlist</th>
            <th>Composer</th>
            <th>Media type</th>
            <th>Milliseconds</th>
            <th>Bytes</th>
            <th>Price</th>
        </tr>
        {% for track_info in all_tracks_info %}
        <tr>
            {% for item in track_info %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}